In [2]:
import numpy as np
import pandas as pd

#1
df = pd.read_csv('pokemon_data.csv')
print(df.head())

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [9]:
#2
s_names = df.iloc[:,1]
print("\nNames column as a Series: \n")
print(s_names)
print(type(s_names))

Names column as a Series:

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
<class 'pandas.core.series.Series'>

In [15]:
#3
HP_column = df["HP"]
max_HP_index = HP_column.idxmax()
print("The max HP index is: ",max_HP_index)
max_HP_Pokemon = df["Name"].iloc[max_HP_index]
print("This corresponds to: ",max_HP_Pokemon)

The max HP index is:  261
This corresponds to:  Blissey

In [17]:
#4
Atk_sp_column = df["Attack"] + df["Sp. Atk"]
Def_sp_column = df["Defense"] + df["Sp. Def"]
df["Atk Tot"] = Atk_sp_column
df["Def Tot"] = Def_sp_column
print(df.head())

   #                   Name Type 1  ... Legendary  Atk Tot  Def Tot
0  1              Bulbasaur  Grass  ...     False      114      114
1  2                Ivysaur  Grass  ...     False      142      143
2  3               Venusaur  Grass  ...     False      182      183
3  3  VenusaurMega Venusaur  Grass  ...     False      222      243
4  4             Charmander   Fire  ...     False      112       93

[5 rows x 14 columns]

In [18]:
#5
fire_df = df[(df["Type 1"] == "Fire")]
print(fire_df)

       #                       Name Type 1  ... Legendary  Atk Tot  Def Tot
4      4                 Charmander   Fire  ...     False      112       93
5      5                 Charmeleon   Fire  ...     False      144      123
6      6                  Charizard   Fire  ...     False      193      163
7      6  CharizardMega Charizard X   Fire  ...     False      260      196
8      6  CharizardMega Charizard Y   Fire  ...     False      263      193
42    37                     Vulpix   Fire  ...     False       91      105
43    38                  Ninetales   Fire  ...     False      157      175
63    58                  Growlithe   Fire  ...     False      140       95
64    59                   Arcanine   Fire  ...     False      210      160
83    77                     Ponyta   Fire  ...     False      150      120
84    78                   Rapidash   Fire  ...     False      180      150
135  126                     Magmar   Fire  ...     False      195      142
147  136                    Flareon   Fire  ...     False      225      170
158  146                    Moltres   Fire  ...      True      225      175
169  155                  Cyndaquil   Fire  ...     False      112       93
170  156                    Quilava   Fire  ...     False      144      123
171  157                 Typhlosion   Fire  ...     False      193      163
236  218                     Slugma   Fire  ...     False      110       80
237  219                   Magcargo   Fire  ...     False      130      200
259  240                      Magby   Fire  ...     False      145       92
263  244                      Entei   Fire  ...      True      205      160
270  250                      Ho-oh   Fire  ...      True      240      244
276  255                    Torchic   Fire  ...     False      130       90
277  256                  Combusken   Fire  ...     False      170      120
278  257                   Blaziken   Fire  ...     False      230      140
279  257      BlazikenMega Blaziken   Fire  ...     False      290      160
352  322                      Numel   Fire  ...     False      125       85
353  323                   Camerupt   Fire  ...     False      205      145
354  323      CameruptMega Camerupt   Fire  ...     False      265      205
355  324                    Torkoal   Fire  ...     False      170      210
435  390                   Chimchar   Fire  ...     False      116       88
436  391                   Monferno   Fire  ...     False      156      104
437  392                  Infernape   Fire  ...     False      208      142
518  467                  Magmortar   Fire  ...     False      220      162
542  485                    Heatran   Fire  ...      True      220      212
557  498                      Tepig   Fire  ...     False      108       90
558  499                    Pignite   Fire  ...     False      163      110
559  500                     Emboar   Fire  ...     False      223      130
572  513                    Pansear   Fire  ...     False      106       96
573  514                   Simisear   Fire  ...     False      196      126
614  554                   Darumaka   Fire  ...     False      105       90
615  555    DarmanitanStandard Mode   Fire  ...     False      170      110
616  555         DarmanitanZen Mode   Fire  ...     False      170      210
692  631                    Heatmor   Fire  ...     False      202      132
721  653                   Fennekin   Fire  ...     False      107      100
722  654                    Braixen   Fire  ...     False      149      128
723  655                    Delphox   Fire  ...     False      183      172
730  662                Fletchinder   Fire  ...     False      129      107
731  663                 Talonflame   Fire  ...     False      155      140
735  667                     Litleo   Fire  ...     False      123      112
736  668                     Pyroar   Fire  ...     False      177      138
799  721                  Volcanion   Fire  ...      True      240      210

[52 rows x 14 columns]

In [24]:
#6
s_mega = df[s_names.str.contains("Mega")]
s_mega = s_mega["Name"]
print(s_mega,type(s_mega))

3          VenusaurMega Venusaur
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
12       BlastoiseMega Blastoise
19         BeedrillMega Beedrill
23           PidgeotMega Pidgeot
71         AlakazamMega Alakazam
87           SlowbroMega Slowbro
102            GengarMega Gengar
124    KangaskhanMega Kangaskhan
137            PinsirMega Pinsir
141        GyaradosMega Gyarados
154    AerodactylMega Aerodactyl
163          MewtwoMega Mewtwo X
164          MewtwoMega Mewtwo Y
168                     Meganium
196        AmpharosMega Ampharos
224          SteelixMega Steelix
229            ScizorMega Scizor
232      HeracrossMega Heracross
248        HoundoomMega Houndoom
268      TyranitarMega Tyranitar
275        SceptileMega Sceptile
279        BlazikenMega Blaziken
283        SwampertMega Swampert
306      GardevoirMega Gardevoir
327          SableyeMega Sableye
329            MawileMega Mawile
333            AggronMega Aggron
336        MedichamMega Medicham
339      ManectricMega Manectric
349        SharpedoMega Sharpedo
354        CameruptMega Camerupt
366          AltariaMega Altaria
387          BanetteMega Banette
393              AbsolMega Absol
397            GlalieMega Glalie
409      SalamenceMega Salamence
413      MetagrossMega Metagross
418            LatiasMega Latias
420            LatiosMega Latios
426        RayquazaMega Rayquaza
476          LopunnyMega Lopunny
494        GarchompMega Garchomp
498          LucarioMega Lucario
511      AbomasnowMega Abomasnow
527          GalladeMega Gallade
591            AudinoMega Audino
796          DiancieMega Diancie
Name: Name, dtype: object <class 'pandas.core.series.Series'>

In [46]:
#7
atk_mean = df["Attack"].mean()
def_mean = df["Defense"].mean()
strong_bool = (df['Attack']>=atk_mean) & (df['Defense']>=def_mean)
weak_bool = (df['Attack']<atk_mean) & (df['Defense']<def_mean)
df.loc[strong_bool, "Rank"] = "Strong"
df.loc[weak_bool, "Rank"] = "Weak"
df["Rank"] = df["Rank"].fillna("Standard")
df

       #                   Name   Type 1  ... Atk Tot  Def Tot      Rank
0      1              Bulbasaur    Grass  ...     114      114      Weak
1      2                Ivysaur    Grass  ...     142      143      Weak
2      3               Venusaur    Grass  ...     182      183    Strong
3      3  VenusaurMega Venusaur    Grass  ...     222      243    Strong
4      4             Charmander     Fire  ...     112       93      Weak
..   ...                    ...      ...  ...     ...      ...       ...
795  719                Diancie     Rock  ...     200      300    Strong
796  719    DiancieMega Diancie     Rock  ...     320      220    Strong
797  720    HoopaHoopa Confined  Psychic  ...     260      190  Standard
798  720     HoopaHoopa Unbound  Psychic  ...     330      190  Standard
799  721              Volcanion     Fire  ...     240      210    Strong

[800 rows x 15 columns]