In [57]:
#rehttps://github.com/CVandermies/AI_introduction
import numpy as np
import pandas as pd

#1
df = pd.read_csv('pokemon_data.csv')
print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [68]:
#2
s_names = df.iloc[:,1]
print("\nNames column as a Series: \n")
print(s_names,type(s_names))

Names column as a Series:

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object <class 'pandas.core.series.Series'>

In [66]:
#3 
max_HP_index = df["HP"].idxmax()
print("The max HP index is: ",max_HP_index)
max_HP_Pokemon = df["Name"].iloc[max_HP_index]
print("This corresponds to: ",max_HP_Pokemon)

The max HP index is:  261
This corresponds to:  Blissey

In [60]:
#4
df["Atk Tot"] = df["Attack"] + df["Sp. Atk"]
df["Def Tot"] = df["Defense"] + df["Sp. Def"]
print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Atk Tot  Def Tot
0       65     45           1      False      114      114
1       80     60           1      False      142      143
2      100     80           1      False      182      183
3      120     80           1      False      222      243
4       50     65           1      False      112       93

In [61]:
#5
fire_df = df[df["Type 1"] == "Fire"]
print(fire_df)

       #                       Name Type 1    Type 2   HP  Attack  Defense  \
4      4                 Charmander   Fire       NaN   39      52       43
5      5                 Charmeleon   Fire       NaN   58      64       58
6      6                  Charizard   Fire    Flying   78      84       78
7      6  CharizardMega Charizard X   Fire    Dragon   78     130      111
8      6  CharizardMega Charizard Y   Fire    Flying   78     104       78
42    37                     Vulpix   Fire       NaN   38      41       40
43    38                  Ninetales   Fire       NaN   73      76       75
63    58                  Growlithe   Fire       NaN   55      70       45
64    59                   Arcanine   Fire       NaN   90     110       80
83    77                     Ponyta   Fire       NaN   50      85       55
84    78                   Rapidash   Fire       NaN   65     100       70
135  126                     Magmar   Fire       NaN   65      95       57
147  136                    Flareon   Fire       NaN   65     130       60
158  146                    Moltres   Fire    Flying   90     100       90
169  155                  Cyndaquil   Fire       NaN   39      52       43
170  156                    Quilava   Fire       NaN   58      64       58
171  157                 Typhlosion   Fire       NaN   78      84       78
236  218                     Slugma   Fire       NaN   40      40       40
237  219                   Magcargo   Fire      Rock   50      50      120
259  240                      Magby   Fire       NaN   45      75       37
263  244                      Entei   Fire       NaN  115     115       85
270  250                      Ho-oh   Fire    Flying  106     130       90
276  255                    Torchic   Fire       NaN   45      60       40
277  256                  Combusken   Fire  Fighting   60      85       60
278  257                   Blaziken   Fire  Fighting   80     120       70
279  257      BlazikenMega Blaziken   Fire  Fighting   80     160       80
352  322                      Numel   Fire    Ground   60      60       40
353  323                   Camerupt   Fire    Ground   70     100       70
354  323      CameruptMega Camerupt   Fire    Ground   70     120      100
355  324                    Torkoal   Fire       NaN   70      85      140
435  390                   Chimchar   Fire       NaN   44      58       44
436  391                   Monferno   Fire  Fighting   64      78       52
437  392                  Infernape   Fire  Fighting   76     104       71
518  467                  Magmortar   Fire       NaN   75      95       67
542  485                    Heatran   Fire     Steel   91      90      106
557  498                      Tepig   Fire       NaN   65      63       45
558  499                    Pignite   Fire  Fighting   90      93       55
559  500                     Emboar   Fire  Fighting  110     123       65
572  513                    Pansear   Fire       NaN   50      53       48
573  514                   Simisear   Fire       NaN   75      98       63
614  554                   Darumaka   Fire       NaN   70      90       45
615  555    DarmanitanStandard Mode   Fire       NaN  105     140       55
616  555         DarmanitanZen Mode   Fire   Psychic  105      30      105
692  631                    Heatmor   Fire       NaN   85      97       66
721  653                   Fennekin   Fire       NaN   40      45       40
722  654                    Braixen   Fire       NaN   59      59       58
723  655                    Delphox   Fire   Psychic   75      69       72
730  662                Fletchinder   Fire    Flying   62      73       55
731  663                 Talonflame   Fire    Flying   78      81       71
735  667                     Litleo   Fire    Normal   62      50       58
736  668                     Pyroar   Fire    Normal   86      68       72
799  721                  Volcanion   Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Atk Tot  Def Tot
4         60       50     65           1      False      112       93
5         80       65     80           1      False      144      123
6        109       85    100           1      False      193      163
7        130       85    100           1      False      260      196
8        159      115    100           1      False      263      193
42        50       65     65           1      False       91      105
43        81      100    100           1      False      157      175
63        70       50     60           1      False      140       95
64       100       80     95           1      False      210      160
83        65       65     90           1      False      150      120
84        80       80    105           1      False      180      150
135      100       85     93           1      False      195      142
147       95      110     65           1      False      225      170
158      125       85     90           1       True      225      175
169       60       50     65           2      False      112       93
170       80       65     80           2      False      144      123
171      109       85    100           2      False      193      163
236       70       40     20           2      False      110       80
237       80       80     30           2      False      130      200
259       70       55     83           2      False      145       92
263       90       75    100           2       True      205      160
270      110      154     90           2       True      240      244
276       70       50     45           3      False      130       90
277       85       60     55           3      False      170      120
278      110       70     80           3      False      230      140
279      130       80    100           3      False      290      160
352       65       45     35           3      False      125       85
353      105       75     40           3      False      205      145
354      145      105     20           3      False      265      205
355       85       70     20           3      False      170      210
435       58       44     61           4      False      116       88
436       78       52     81           4      False      156      104
437      104       71    108           4      False      208      142
518      125       95     83           4      False      220      162
542      130      106     77           4       True      220      212
557       45       45     45           5      False      108       90
558       70       55     55           5      False      163      110
559      100       65     65           5      False      223      130
572       53       48     64           5      False      106       96
573       98       63    101           5      False      196      126
614       15       45     50           5      False      105       90
615       30       55     95           5      False      170      110
616      140      105     55           5      False      170      210
692      105       66     65           5      False      202      132
721       62       60     60           6      False      107      100
722       90       70     73           6      False      149      128
723      114      100    104           6      False      183      172
730       56       52     84           6      False      129      107
731       74       69    126           6      False      155      140
735       73       54     72           6      False      123      112
736      109       66    106           6      False      177      138
799      130       90     70           6       True      240      210

In [71]:
#6
s_mega = df[s_names.str.contains("Mega")]["Name"]
print(s_mega,type(s_mega))

3          VenusaurMega Venusaur
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
12       BlastoiseMega Blastoise
19         BeedrillMega Beedrill
23           PidgeotMega Pidgeot
71         AlakazamMega Alakazam
87           SlowbroMega Slowbro
102            GengarMega Gengar
124    KangaskhanMega Kangaskhan
137            PinsirMega Pinsir
141        GyaradosMega Gyarados
154    AerodactylMega Aerodactyl
163          MewtwoMega Mewtwo X
164          MewtwoMega Mewtwo Y
168                     Meganium
196        AmpharosMega Ampharos
224          SteelixMega Steelix
229            ScizorMega Scizor
232      HeracrossMega Heracross
248        HoundoomMega Houndoom
268      TyranitarMega Tyranitar
275        SceptileMega Sceptile
279        BlazikenMega Blaziken
283        SwampertMega Swampert
306      GardevoirMega Gardevoir
327          SableyeMega Sableye
329            MawileMega Mawile
333            AggronMega Aggron
336        MedichamMega Medicham
339      ManectricMega Manectric
349        SharpedoMega Sharpedo
354        CameruptMega Camerupt
366          AltariaMega Altaria
387          BanetteMega Banette
393              AbsolMega Absol
397            GlalieMega Glalie
409      SalamenceMega Salamence
413      MetagrossMega Metagross
418            LatiasMega Latias
420            LatiosMega Latios
426        RayquazaMega Rayquaza
476          LopunnyMega Lopunny
494        GarchompMega Garchomp
498          LucarioMega Lucario
511      AbomasnowMega Abomasnow
527          GalladeMega Gallade
591            AudinoMega Audino
796          DiancieMega Diancie
Name: Name, dtype: object <class 'pandas.core.series.Series'>

In [63]:
#7
atk_mean = df["Attack"].mean()
def_mean = df["Defense"].mean()

strong_bool = (df['Attack']>=atk_mean) & (df['Defense']>=def_mean)
weak_bool = (df['Attack']<atk_mean) & (df['Defense']<def_mean)

df.loc[strong_bool, "Rank"] = "Strong"
df.loc[weak_bool, "Rank"] = "Weak"
df["Rank"] = df["Rank"].fillna("Standard")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk Tot,Def Tot,Rank
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,114,114,Weak
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,142,143,Weak
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,182,183,Strong
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,222,243,Strong
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,112,93,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,200,300,Strong
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,320,220,Strong
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,260,190,Standard
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,330,190,Standard
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,240,210,Strong

In [64]:
#8
s_types_count = df["Type 1"].value_counts()
print(s_types_count, type(s_types_count))

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64 <class 'pandas.core.series.Series'>

In [101]:
#9.1
df2 = pd.read_csv("titanic3.csv", sep=";")

#male
df_male = df2[(df2["sex"] == "male")]
male_count = df_male["sex"].count()
male_survived = df_male[df_male["survived"] == 1].count()["survived"]
male_rate = round(male_survived / male_count, 4)*100
 
#female
df_female = df2[(df2["sex"] == "female")]
female_count = df_female["sex"].count()
female_survived = df_female[df_female["survived"] == 1].count()["survived"]
female_rate = round(female_survived / female_count, 4)*100

print("{0} sur {1} hommes ont survécu. Cela correspond à un taux de {2}%.".format(male_survived, male_count, male_rate))
print("{0} sur {1} femmes ont survécu. Cela correspond à un taux de {2}%.".format(female_survived, female_count, female_rate))

161 sur 843 hommes ont survécu. Cela correspond à un taux de 19.1%.
339 sur 466 femmes ont survécu. Cela correspond à un taux de 72.75%.